#toastNotice {
  position: fixed;
  z-index: 10;
  width: 24rem;
  height: 4rem;
  font: 2rem "Play";
  background-color: rgba(0, 0, 0, 0.627);
  color: rgb(242, 255, 58);
  left: 31.5rem;
  bottom: 22rem;

}

.toast-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PRODUCTS */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
    margin: -5rem 3rem -2rem 3rem;
}

.products img {
    width: 230px;


}

.products .item .item-container {
  width: 250px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.627);
  margin: 2rem 4rem;
}

/* individual goblin cards */
.products .item .item-container .item-img {
  width: 100%;
  height: 63%;
  background-image: radial-gradient( #fd743d 33%, #060400 100%);
  background-size: 100%;
  border: 4px solid rgb(0, 0, 0);
}

.products .item .item-container .desc {
  width: 100%;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
}

.products .item .item-container .add-to-cart {
  background-color: rgb(242, 255, 58); 
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: none;
  width: 100%;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 10px;
}

/* CART */

.cart1 {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  background-color: white;
  box-shadow: -2px 4px 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
  max-height: 80vh;
  overflow: scroll;
  z-index: 100;
}

.cart1.active {
  right: 0;
}

.cart1:hover {
  cursor: pointer;
  
}

#close-cart {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 2rem;
  cursor: pointer;

}

  /* cart header */
  .cart-header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  /* cart items */
  .cart-items {
    max-height: calc(100vh - 247px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* cart item */
  .cart-item {
    display: flex;
    justify-content: space-around;
    
  }
  .cart-item div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* item info */
.cart-item .item-info {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  border-radius: 10px;

  padding: 5px;
}

.cart-item .item-info:hover {
  background-color: rgba(255, 0, 0, 0.6);
  cursor: pointer;
}

.cart-item .item-info img {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* unit price */
.cart-item .unit-price {
  flex: 1;
  font-size: 1rem;
}
/* units */
.cart-item .units {
  flex: 1;
}
.cart-item .units .number {
  margin: 0 10px;

  font-size: 1rem;
}
.cart-item .units .btn {
  width: 20px;
  height: 20px;

  background-color: rgb(242, 255, 58);

  border-radius: 50%;

  font-weight: bold;

  cursor: pointer;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
}
/* cart footer */

.cart-footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 1rem;
}
.cart-footer .subtotal {
  background-color: white;
}
.cart-footer .checkout {
  background-color: rgb(242, 255, 58);
  cursor: pointer;
}

.checkout__btn {
    background-color: rgb(242, 255, 58); 
    cursor: pointer;
}

.cart-content1 h1 {
  color: black;
  background-color: rgb(242, 255, 58);
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

/* Whole checkout page */
.form__container {
  color: white;
  margin: 0 3rem 3rem 3rem;
}

/* CHECKOUT PAGE CART */

  /* checkout items */
  .checkout-items {
    max-height: calc(100vh - 247px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* checkout item */
  .checkout-item {
    display: flex;    
  }
  .checkout-item div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.checkout-item .item-info {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.6);
  
    border-radius: 10px;
  
    padding: 5px;
  }
  .checkout-item .item-info:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
  }
  .checkout-item .item-info img {
    width: 70px;
  }
  /* unit price */
  .checkout-item .unit-price {
    display: flex;
    align-self:center;
    font-size: 1rem;
    margin: 0 0 0 30px;
  }
  /* units */
  .checkout-item .units {
    flex: 1;
  }
  .checkout-item .units .number {
    margin: 0 10px;
  
    font-size: 1rem;
  }

  .checkout-item .units .btn {
    width: 2rem;
    height: 2rem;
  
    background-color: rgb(242, 255, 58);
  
    border-radius: 1rem;
  
    font-weight: bold;
  
    cursor: pointer;

    display: flex;
    justify-items: center;
    align-items:center;
    font-size: 1rem;
  
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
  }